html {
  background-color: rgb(212, 212, 212);
}

.div {
  width: 80%;
  background-color: white;
  text-align: center;
  margin: auto;
}

p {
  margin: 10px 0px 0px 0px;
}

.signButton {
  width: auto;
  background-color: black;
  color: white;
  margin: 10px 0px 0px 0px;
  border-radius:30px;
  border: none;
}

.signButton:hover {
  background-color: blue;
  color: white;
}
